/*------- Bai 2 -------*/

/* div{
    font-size: 3em;
    background: wheat
  } */

/*------- Bai 3 ------*/
/* #div2{
    color: blue;
} */

/*------- Bai 4 -------*/
/* a[target=_blank]{
    color: yellow   ;
    
} */

/*--------Bai 5 --------*/

/* ul > li{
    font-family:fantasy;
} */

/*------- Bai 6 -------*/
/* div[class=item] > span{
    font-size: 18px;
}
div > div {
    font-style: italic;
} */

